
{{#each data}}
<tr>
  <td>
    <a class="text" href="{{postLink}}">
      {{> feedItem
        avatar=avatar
        ownerName=ownerName
        spaceName=spaceName
        date=date
        postTitle=postTitle
        postSummary=postSummary
        image=image
      }}
    </a>
  </td>
</tr>
{{/each}}