<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8"> 
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <table class="main">
    <tr>
      <td>
        <h3 class="pageTitle">{{title}}</h3>
      </td>
    </tr>
    {{#if notifications }}
      {{> notifications data=data }}
    {{/if}}
    {{#if feed}}
      {{> feed data=data }}
    {{/if}}
    <tr class="td-button">
      <a href="{{appsUrl}}" class='buttonLink'>See more on the website</a>
    </tr>
  </table>
</body>
<html>