body, td, th, a, div {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h3 {
  margin: 0;
  margin-bottom: .5rem;
}

.w-100 {
  width: 100%;
}

.top {
  vertical-align: top;
}

.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.mr-avatar {
  margin-right: .5rem;
}

.author {
  color: #2d2d2d;
}

.details {
  color: #888;
}

.main {
  width: 712px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.feed-item {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.feed-image {
  width: 140px;
  height: 140px;
  border-radius: 2px;
}

.pageTitle {
  color: #888;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: .5rem;
  padding: .25rem;
  border-bottom: 1px solid #ddd;
}

.text, .link {
  color: #2d2d2d;
  text-decoration: none;
}

.buttonLink {
  color: #fff !important;
  background: #eb2f96;
  border-color: #eb2f96;
  font-weight: 500;
  height: 36px;
  padding: 8px 16px;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  touch-action: manipulation;
  font-size: .875rem;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.td-button {
  height: 40px;
  text-align: center;
}

.normal-text {
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.header {
  font-size: 1.5rem;
}

.image {
  margin-bottom: 1rem;
}